<h2>Reset your password</h2>
<%= form_with model: @user, url: password_reset_edit_path(token: params[:token]) do |form| %>
  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>
  <%= form.submit 'Reset Password' %>
<%end%>