<% @mood_tags.each do |tag, freq| %>
          <% if freq == 1 %>
            Voted By <%= freq %> User: <div class="rounded-container"><%= tag %></div><br>
          <% else %>
            Voted By <%= freq %> Users: <div class="rounded-container"><%= tag %></div><br>
          <% end %>
        <% end %>
        <h3>Accessibility Tags</h3>

        <p>
          <button class="btn btn-outline-success me-2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Show/Hide
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="align-self-center card card-body">

            Light and Noise Levels:
            <% if @light_level.nil?  && @noise_level.nil? %>
              No information available. <%= link_to "Edit this space", "/third_spaces/#{@space.yelp_id}/edit" %>
            <% else %>
              <% if !@light_level.nil? %>
                <div class="rounded-container" style="width: 200px"><%= @light_level %></div>
              <% end %>

              <% if !@noise_level.nil? %>
                <div class="rounded-container" style="width: 200px"><%= @noise_level %></div>
              <% end %>
            <% end %>

            Staff Pushiness:
            <% if @staff_tags.nil? %>
              No information available. <%= link_to "Edit this space", "/third_spaces/#{@space.yelp_id}/edit" %>
            <% else %>
              <div class="rounded-container" style="width: 200px"><%= @staff_tags %></div>
            <% end %>

            Cost Factors:
            <% if @purchase_necessary.nil? %>
              No information available. <%= link_to "Edit this space", "/third_spaces/#{@space.yelp_id}/edit" %>
            <% else %>
               <div class="rounded-container" style="width: 200px"><%= @purchase_necessary %></div>
            <% end %>

            Sober Space:
            <% if @sober_tag.nil? %>
              No information available. <%= link_to "Edit this space", "/third_spaces/#{@space.yelp_id}/edit" %>
            <% else %>
               <div class="rounded-container" style="width: 200px"><%= @sober_tag %></div>
            <% end %>

            Restroom Needs:
            <% if @customer_restrooms.nil? && @gn_restrooms.nil? %>
              No information available. <%= link_to "Edit this space", "/third_spaces/#{@space.yelp_id}/edit" %>
            <% else %>
              <% if !@customer_restrooms.nil? %>
                <div class="rounded-container" style="width: 200px"><%= @customer_restrooms %></div> 
              <% end %>

              <% if !@gn_restrooms.nil? %>
                <div class="rounded-container" style="width: 200px"><%= @gn_restrooms %></div>
              <% end %>
            <% end %>

            Transportation:
            <% if @parking_tag.nil? && @transportion_tag.nil? %>
              No information available. <%= link_to "Edit this space", "/third_spaces/#{@space.yelp_id}/edit" %>
            <% else %>
              <% if !@parking_tag.nil? %>
               <div class="rounded-container" style="width: 200px"><%= @parking_tag %></div>   
              <% end %>

              <% if !@transportion_tag.nil? %>
               <div class="rounded-container" style="width: 200px"><%= @transportion_tag %></div>
              <% end %>
            <% end %>

            Wheelchair Accessibility:
            <% if @accessible_tags.nil? %>
              No information available. <%= link_to "Edit this space", "/third_spaces/#{@space.yelp_id}/edit" %>
            <% else %>
               <div class="rounded-container" style="width: 200px"><%= @accessible_tags %></div>
            <% end %>

            Identity:
            <% if @bipoc_tag.nil? && @lgbt_tag.nil? && @gn_restrooms.nil? %>
              No information available. <%= link_to "Edit this space", "/third_spaces/#{@space.yelp_id}/edit" %>
            <% else %>
              <% if !@bipoc_tag.nil? %>
                <div class="rounded-container" style="width: 200px"><%= @bipoc_tag %></div> 
              <% end %>

              <% if !@lgbt_tag.nil? %>
                <div class="rounded-container" style="width: 200px"><%= @lgbt_tag %></div>
              <% end %>
            <% end %>

            Family Needs:
              <% if @child_friendly.nil? %>
                No information available. <%= link_to "Edit this space", "/third_spaces/#{@space.yelp_id}/edit" %>
              <% else %>
                 <div class="rounded-container" style="width: 200px"><%= @child_friendly %></div>
              <% end %>
     
            </div>
        </div>