<body>
  
  <div class="container-fluid">
    <%= render partial: 'shared/navbar' %>

    <div class="container text-center mt-5">
      <div class="text-center">
        <div class="d-inline-block text-left">
          <h2>All Reviews for <%= @space.name %></h2>
          <div class="rounded-highlight-b">
            <%= @space.category %>
          </div>
          <div class="rounded-highlight-b">
              <%= "Address: #{@space.address}"%>
          </div>
          <br>

          <br>
      <div class="text-center">
            <div class="text-center">
      <% if !@space.photos.nil? %>
        <% if @space.photos.class == String && !@space.photos == "[]" %>
          <%= image_tag @space.photos, width: "400", height: "350", class: "rounded-image" %>
        <% elsif @space.photos == "[]" %>
        <% elsif !@space.photos.include?("[") %>
          <%= image_tag @space.photos, width: "400", height: "350", class: "rounded-image" %>
        <% else %>
          <% JSON.parse(@space.photos).each do |photo_url| %>
            <%= image_tag photo_url, width: "400", height: "350", class: "rounded-image" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <br>
              <div class="row justify-content-center my-3">
      <div class="col-md-auto">
        <div class="d-inline rounded-highlight-b">
          <%= image_tag 'purple_location.svg', alt: "Purple Location Icon", style: "margin-right: 5px;" %><%= @space.address %>
        </div>
      </div>

      <div class="col-md-auto">
        <div class="d-inline rounded-highlight-b">
          <% @avg_rating.round(1).to_s.split('')[0].to_i.times do %>
            <%= image_tag 'full-star.svg', alt: "Full Star", style: "margin-right: 5px;" %>
          <% end %>
          <% if @avg_rating.round(1).to_s.split('')[2].to_i >= 5 %>
            <%= image_tag 'half-star.svg', alt: "Half Star", style: "margin-right: 5px;" %>
          <% end %>
          <%= @avg_rating.round(1) %>
        </div>
      </div>

      <% if !@space.price.nil? %>
        <div class="col-md-auto">
          <div class="d-inline rounded-highlight-b">
            <%= @space.price %>
          </div>
        </div>
      <% end %>
      <br><br>
        <% selected_rating = params[:rating] || 'all' %>

        <%= form_tag("/third_spaces/#{params[:id]}/all_reviews", method: 'get') do %>
          <%= select_tag 'rating', options_for_select({ 'All Ratings' => 'all', '1 Star' => '1', '2 Stars' => '2', '3 Stars' => '3', '4 Stars' => '4', '5 Stars' => '5' }, selected_rating) %>
          <%= submit_tag 'Filter' %>
        <% end %>
        <br><br>

        <% filtered_reviews = if selected_rating == 'all'
                                @reviews.reject { |r| r.date.nil? }.sort_by { |r| r.date }.reverse
                              else
                                @reviews.reject { |r| r.date.nil? }.sort_by { |r| r.date }.reverse.select { |r| r.rating.to_i == selected_rating.to_i }
                              end %>

        <% filtered_reviews.each do |r| %>
          <div class="justify-content-center rounded-highlight-custom text-center">
            <%= r.text %> <br> - <%= r.name %> (Rating: <%= r.rating %>/5) <br> <%= r.date %>
          </div>
        <% end %>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>        