<body>
  <div class="logo-container">
    <%= link_to dashboard_path do %>
      <%= image_tag 'temp_logo.svg', class: "img-fluid smaller-logo", alt: "Logo" %>
    <% end %>
  </div>

  <div class="container text-center mt-5">
    <div class="mb-3">
      <h3>Edit This Third Space</h3><br>

      <%= form_tag(third_space_path(@space.yelp_id), method: "patch") do %>

        <div class="mb-3 d-flex align-items-center">
          <div class="col-sm-2 rounded-highlight">
            <label class="form-label" for="name">Name</label>
          </div>
          <div class="col-sm-9">
            <div class="form-control" style="border: none; padding: 0;">
              <span id="name"><%= @space.name %></span>
            </div>
          </div>
        </div>

        <div class="mb-3 d-flex align-items-center">
          <div class="col-sm-2 rounded-highlight">
            <label class="form-label" for="category">Category</label>
          </div>
          <div class="col-sm-9">
            <div class="form-control" style="border: none; padding: 0;">
              <span id="category"><%= @space.category %></span>
            </div>
          </div>
        </div>

        <div class="mb-3 d-flex align-items-center">
          <div class="col-sm-2 rounded-highlight">
            <label class="form-label" for="address">Address</label>
          </div>
          <div class="col-sm-9">
            <div class="form-control" style="border: none; padding: 0;">
              <span id="address"><%= @space.address %></span>
            </div>
          </div>
        </div>

        <div class="justify-content-center align-items-center">
          <div class="row">
            <div class="col-sm-2 rounded-highlight">
              Tags
            </div>

<%
=begin%>
 
            <div class="col-sm-3">
            <h4>Add A Review</h4>
              <input class="form-control me-2" id="text" name="text" type="text" placeholder="review" aria-label="Review Text" style="flex-grow: 1;">
                <% rating_numbers = ['1', '2', '3', '4', '5'] %>
                <% rating_numbers.each do |rating| %>
                  <%= radio_button_tag 'tags[]', rating, false, class: 'custom-radio-input' %> <%= rating %>
                <% end %>
            </div> 
<%
=end%>

            <div class="col-sm-3">
              <h4>Moods</h4>
              <% moods_array = ['Happy', 'Sad', 'Studious', 'Social', 'Chill', 'Party'] %>
              <% moods_array.each do |mood| %>
                <%= check_box_tag 'tags[]', mood, false, class: 'custom-checkbox-input' %> <%= mood %><br>
              <% end %>
            </div>

            <div class="col-sm-3">
              <h4>Features</h4>
              <% features_options = {
                'Staff Responsiveness' => ['Pushy', 'Helpful', 'Respectful'],
                'Volume' => ['Loud', 'Quiet', 'Average'],
                'Lighting' => ['Bright', 'Moody', 'Average Lighting']
              } %>
              <% features_options.each do |feature, options| %>
                <%= label_tag feature %>
                <%= select_tag "tags[]", options_for_select(options), multiple: true, class: 'form-select' %><br>
              <% end %>
            </div>

            <div class="col-sm-4">
              <% labels_array = ['Accessible Entrance', 'BIPOC Friendly', 'Child Friendly', 'Customer Restrooms', 'Gender Neutral Restrooms', 'Parking', 'Purchase Necessary', 'Public Transportation Nearby', 'Queer Friendly', 'Sober'] %>
              <% labels_array.each do |label| %>
                <%= check_box_tag 'tags[]', label, false, class: 'form-check-input' %> <%= label %><br>
              <% end %>
            </div>
          </div>
        </div>

        <%= hidden_field_tag 'location_json', @json %>

        <div class="row mt-3">
          <div class="col-sm-12 text-center">
            <%= submit_tag "Update", class: "btn btn-primary" %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</body>
