<body>
  
  <div class="container-fluid">
    <%= render partial: 'shared/navbar' %>

    <div class="container text-center mt-5">
      <div class="text-center">
        <div class="d-inline-block text-left">
          <h2><%= @space.name %></h2>
          <div class="rounded-highlight-b">
            <%= @space.category %>
          </div>
          <div class="rounded-highlight-b">
              <%= "Address: #{@space.address}"%>
          </div>
          <% if current_user.admin?%>
            <%= button_to "Delete Third Space", third_space_path(params[:id]), method: :delete %>
          <% end %>
        </div>
      </div>

      <br>
      <div class="text-center">
        <% if !@space.photos.nil? %>
          <% if @space.photos.class == String && !@space.photos == "[]" %>
            <%= image_tag @space.photos, width: "200" %>
          <% elsif @space.photos == "[]" %>
          <% elsif !@space.photos.include?("[") %>
               <%= image_tag @space.photos, width: "200" %>
          <% else %>
            <% JSON.parse(@space.photos).each do |photo_url| %>
              <%= image_tag photo_url, width: "200" %>
            <% end %>
          <% end %>
        <% end %>

        <br><br>

        <div class="rounded-container">
          <%= "Open Now" if @space.open_now %>
          <%= "Closed" if !@space.open_now %>
        </div>
        <% if !@space.price.nil? %>
          <div class="rounded-container"><%= @space.price%></div>
        <% end %>
        
        
        <h3>Top Moods</h3>
        <% @mood_tags.each do |tag, freq| %>
          <% if freq == 1 %>
            Voted By <%= freq %> User: <div class="rounded-container"><%= tag %></div><br>
          <% else %>
            Voted By <%= freq %> Users: <div class="rounded-container"><%= tag %></div><br>
          <% end %>
        <% end %>
        <h3>Accessibility Tags</h3>

        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Show/Hide
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            Light and Noise Levels: <div class="rounded-container"><%= @light_level %></div>
            Staff Pushiness: <div class="rounded-container"><%= @staff_tags %></div>
            Cost Factors: <div class="rounded-container"><%= @purchase_necessary %></div>
            Sober Space: <div class="rounded-container"><%= @sober_tag %></div>
            Restroom Needs: <div class="rounded-container"><%= @customer_restrooms %></div><div class="rounded-container"><%= @gn_restrooms %></div>
            Transportation: <div class="rounded-container"><%= @parking_tag %></div><div class="rounded-container"><%= @transportion_tag %></div>
            Wheelchair Accessibility: <div class="rounded-container"><%= @accessible_tags %></div>
            Identity: <div class="rounded-container"><%= @bipoc_tag %></div><div class="rounded-container"><%= @lgbt_tag %></div><div class="rounded-container"><%= @gn_restrooms %></div>
            Family Needs: <div class="rounded-container"><%= @child_friendly %></div>
          </div>
        </div>


        <h3>All Tags</h3>
        <% @tags_with_freq.each do |tag, freq| %>

          <div class="rounded-container"><%= tag %></div>
        <% end %>


        <br><br>
        <div class="text-center">
          <% if @saved_yelp_ids.include?(@space.yelp_id) %>
            <form class="container-fluid d-flex justify-content-center align-items-center" action="/third_spaces/unfavorite" method="delete">
              <button class="btn btn-outline-success me-2" name="yelp_id" id="yelp_id" value="<%= @space.yelp_id %>" type="submit">Remove Favorite</button>
            </form>
          <% else %>
            <form class="container-fluid d-flex justify-content-center align-items-center" action="/third_spaces/favorite" method="post">
              <button class="btn btn-outline-success me-2" name="yelp_id" id="yelp_id" value="<%= @space.yelp_id %>" type="submit">Favorite</button>
            </form>
          <% end %>
          <form class="container-fluid d-flex justify-content-center align-items-center" action="/third_spaces/<%= @space.yelp_id %>/edit" method="get">
            <button class="btn btn-outline-success me-2" name="yelp_id" id="yelp_id" value="<%= @space.yelp_id %>" type="submit">Add More Tags</button>
          </form>
          <br>
        </div>

        <% @reviews.each do |r| %>
          <div class="rounded-highlight">
            <%= r.text %> <br> - <%= r.name %> (Rating: <%= r.rating %>/5)
          </div>
          <br><br>
        <% end %>

      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
