<body>
  <div class="container-fluid">
    <div class="logo-container">
      <%= image_tag 'temp_logo.png', class: "img-fluid smaller-logo", alt: "Logo" %>
    </div>

    <div class="container text-center mt-5">
      <div class="text-center">
        <div class="d-inline-block text-left">
          <h2><%= @space.name %></h2>
          <div class="rounded-highlight-b">
            <%= @space.category %>
          </div>
          <div class="rounded-highlight-b">
              <%= "Address: #{@space.address}"%>
          </div>
        </div>
      </div>

      <br>
      <div class="text-center">
        <% if !@space.photos.nil? %>
          <% if @space.photos.class == String%>
            <%= image_tag @space.photos, width: "200" %>
          <% else %>
            <% @space.photos.each do |photo_url| %>
              <%= image_tag photo_url, width: "200" %>
            <% end %>
          <% end %>
        <% end %>

        <br><br>

        <div class="rounded-container">
          <%= "Open Now" if @space.open_now %>
          <%= "Closed" if !@space.open_now %>
        </div>
        <% if !@space.price.nil? %>
          <div class="rounded-container"><%= @space.price%></div>
        <% end %>
        
        <% @tags.each do |t| %>
          <div class="rounded-container"><%= t %></div>
        <% end %>
        <br><br>

        <% @reviews.each do |r| %>
          <div class="rounded-highlight">
            <%= r.text %> <br> - <%= r.name %> (Rating: <%= r.rating %>/5)
          </div>
          <br><br>
        <% end %>

      </div>
    </div>
  </div>
</body>
