<body>
  
  <div class="container-fluid">
    <%= render partial: 'shared/navbar' %>

    <div class="container text-center mt-5">
      <div class="text-center">
        <div class="d-inline-block text-left">
          <h2><%= @space.name %></h2>
          <div class="rounded-highlight-b">
            <%= @space.category %>
          </div>
          <div class="rounded-highlight-b">
              <%= "Address: #{@space.address}"%>
          </div>
          <% if current_user.admin?%>
            <%= button_to "Delete Third Space", third_space_path(params[:id]), method: :delete %>
          <% end %>
        </div>
      </div>

      <br>
      <div class="text-center">
        <% if !@space.photos.nil? %>
          <% if @space.photos.class == String && !@space.photos == "[]" %>
            <%= image_tag @space.photos, width: "200" %>
          <% elsif @space.photos == "[]" %>
          <% elsif !@space.photos.include?("[") %>
                <%= image_tag @space.photos, width: "200" %>
          <% else %>
            <% JSON.parse(@space.photos).each do |photo_url| %>
              <%= image_tag photo_url, width: "200" %>
            <% end %>
          <% end %>
        <% end %>

        <br><br>

        <% if !@space.price.nil? %>
          <div class="rounded-container"><%= @space.price%></div>
        <% end %>
        
    <h3>Top Moods</h3>
        <%= render partial: 'top_moods' %>


        <h3>All Tags</h3>
        <% @tags_with_freq.each do |tag, freq| %>

          <div class="rounded-container"><%= tag %></div>
        <% end %>

        
        
        
        <br>
        <br>
        <p>Average Rating: <%= @avg_rating %></p>

        <div class="text-center">
          <% if @saved_yelp_ids.include?(@space.yelp_id) %>
            <form class="container-fluid d-flex justify-content-center align-items-center" action="/third_spaces/unfavorite" method="delete">
              <button class="btn btn-outline-success me-2" name="yelp_id" id="yelp_id" value="<%= @space.yelp_id %>" type="submit">Remove Favorite</button>
            </form>
          <% else %>
            <form class="container-fluid d-flex justify-content-center align-items-center" action="/third_spaces/favorite" method="post">
              <button class="btn btn-outline-success me-2" name="yelp_id" id="yelp_id" value="<%= @space.yelp_id %>" type="submit">Favorite</button>
            </form>
          <% end %>
          <form class="container-fluid d-flex justify-content-center align-items-center" action="/third_spaces/<%= @space.yelp_id %>/edit" method="get">
            <button class="btn btn-outline-success me-2" name="yelp_id" id="yelp_id" value="<%= @space.yelp_id %>" type="submit">Add More Tags</button>
          </form>
          <form class="container-fluid d-flex justify-content-center align-items-center" action="/third_spaces/<%= @space.yelp_id %>/add_review" method="get">
            <button class="btn btn-outline-success me-2" name="yelp_id" id="yelp_id" value="<%= @space.yelp_id %>" type="submit">Write A Review</button>
          </form>
          <br>
        </div>

        <% @reviews.reject { |r| r.date.nil? }.sort_by { |r| r.date }.reverse.first(20).each do |r| %>
          <div class="rounded-highlight">
            <%= r.text %> <br> - <%= r.name %> (Rating: <%= r.rating %>/5) <br> Date: <%= r.date %>
          </div>
          <br><br>
        <% end %>
      </div>
    </div>
    <div class="text-center">
    <%= link_to "See All Reviews", "/third_spaces/#{params[:id]}/all_reviews" %>
  </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
