<div class="container mt-5">
  <div class="row justify-content-center mt-4">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <%= image_tag 'temp_logo.png', style: "width: 200px; height: auto;", alt: "Logo" %> 
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">preferences</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">privacy & security</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">contact us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">create a third space</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <div class="navbar navbar-light bg-white">
      <h5>Your mood today is</h5>
      <form class="container-fluid d-flex justify-content-between">
        <button class="btn btn-outline-success me-2" type="button">Happy</button>
        <button class="btn btn-outline-success me-2" type="button">Studious</button>
        <button class="btn btn-outline-success me-2" type="button">Sad</button>
        <button class="btn btn-outline-success me-2" type="button">Social</button>
        <button class="btn btn-outline-success me-2" type="button">Party!</button>
        <button class="btn btn-outline-success me-2" type="button">Chill</button>
      </form>
    </div>

    <% if @search_location.present? %>
      <p>your location: <%= @search_location.city %>, <%= @search_location.state %></p>
    <% end %>

    <h3>recommendations</h3>
    <div class="container">
      <div class="row">
        <% if @recommended.any? %>
          <% @recommended.each do |third_space_poro| %>
            <div class="col-md-4">
              <div class="rounded-entry">
                <h3><%= third_space_poro.name %></h3>
                <p><strong>Category:</strong> <%= third_space_poro.category %></p>
                <p><strong>Address:</strong> <%= third_space_poro.address %></p>
                <p><strong>Rating:</strong> <%= third_space_poro.rating %></p>
              </div>
            </div>
          <% end %>
        <% else %>
          No Third Spaces near you. <%= link_to "Add a location", locations_search_path %>.
        <% end %>
      </div>
    </div>

    <h3>saved spaces</h3>
    <div class="container">
      <div class="row">
          <%# <% @saved.each do |third_space_poro| %> 
            <%# <div class="col-md-4"> %>
              <%# <div class="rounded-entry"> %>
                <%# <h3><%= third_space_poro.name %></h3> 
                <%# <p><strong>Category:</strong> <%= third_space_poro.category %></p> 
                <%# <p><strong>Address:</strong> <%= third_space_poro.address %></p> 
                <%# <p><strong>Rating:</strong> <%= third_space_poro.rating %></p> 
              <%# </div> %>
            <%# </div> %>
          <%# <% end %> 
      </div>
    </div>

    <h3>recently visited</h3>
    <div class="container">
      <div class="row">
          <%# <% @recently_visited.each do |third_space_poro| %> 
            <%# <div class="col-md-4"> %>
              <%# <div class="rounded-entry"> %>
                <%# <h3><%= third_space_poro.name %></h3> 
                <%# <p><strong>Category:</strong> <%= third_space_poro.category %></p> 
                <%# <p><strong>Address:</strong> <%= third_space_poro.address %></p> 
                <%# <p><strong>Rating:</strong> <%= third_space_poro.rating %></p> 
              <%# </div> %>
            <%# </div> %>
          <%# <% end %> 
      </div>
    </div>
  </div>
</div>
