<div class="container mt-5">
  <div class="row justify-content-center mt-4">
    <%= render partial: 'shared/navbar' %>

  <div class="col-9 mx-auto px-3">
    <h3><%= link_to 'recommendations by mood.', mood_recommendations_path(@user.id), class: 'dash-header' %></h3>
    <div class="scroll-box">
      <div class="d-flex">
        <% if @mood_recs.any? %>
          <% @mood_recs.each do |third_space_poro| %>
            <div class="rounded-entry me-5" >
              <h3 class="space-link">
                <%= link_to third_space_path(third_space_poro.yelp_id), class: "space-link" do %>
                  <%= third_space_poro.name %>
                <% end %>
              </h3>
              <p><strong>Category:</strong> <%= third_space_poro.category %></p>
              <p><strong>Address:</strong> <%= third_space_poro.address %></p>
              <p><strong>Rating:</strong> <%= third_space_poro.rating %></p>
              <% if @saved_yelp_ids.include?(third_space_poro.yelp_id) %>
                <form class="container-fluid d-flex justify-content-between" action="/third_spaces/unfavorite" method="delete" >
                  <button class="small-default-button me-2" name="yelp_id" id="yelp_id" value="<%= third_space_poro.yelp_id %>" type="submit">Remove Favorite</button>
                </form>
              <% else %>
                <form class="container-fluid d-flex justify-content-between" action="/third_spaces/favorite" method="post" >
                  <button class="small-default-button me-2" name="yelp_id" id="yelp_id" value="<%= third_space_poro.yelp_id %>" type="submit">Favorite</button>
                </form>
              <% end %>

            </div>
          <% end %>
        <% else %>
          <p>No Third Spaces of that Mood near you.</p>
          <br><p><%= link_to "Add a location", locations_search_path %>.</p>
        <% end %>
      </div>
    </div>

    <h3><%= link_to 'recommendations near you.', recommendations_path(@user.id), class: 'dash-header' %></h3>
    <div class="scroll-box">
      <div class="d-flex">
        <% if @location_recs.nil? %>
        <% elsif @location_recs.any? %>
          <% @location_recs.each do |third_space_poro| %>
            <div class="rounded-entry me-5" >
              <h3 class="space-link">
                <%= link_to third_space_path(third_space_poro.yelp_id), class: "space-link" do %>
                  <%= third_space_poro.name %>
                <% end %>
              </h3>
              <p><strong>Category:</strong> <%= third_space_poro.category %></p>
              <p><strong>Address:</strong> <%= third_space_poro.address %></p>
              <p><strong>Rating:</strong> <%= third_space_poro.rating %></p>
              
              <% if @saved_yelp_ids.include?(third_space_poro.yelp_id) %>
                <form class="container-fluid d-flex justify-content-between" action="/third_spaces/unfavorite" method="delete" >
                  <button class="small-default-button me-2" name="yelp_id" id="yelp_id" value="<%= third_space_poro.yelp_id %>" type="submit">Remove Favorite</button>
                </form>
              <% else %>
                <form class="container-fluid d-flex justify-content-between" action="/third_spaces/favorite" method="post" >
                  <button class="small-default-button me-2" name="yelp_id" id="yelp_id" value="<%= third_space_poro.yelp_id %>" type="submit">Favorite</button>
                </form>
              <% end %>
              
            </div>
          <% end %>
        <% else %>
          No Third Spaces near you. <%= link_to "Add a location", locations_search_path %>.
        <% end %>
      </div>
    </div>

  <h3><%= link_to 'saved spaces.', user_saved_list_path(@user.id), class: 'dash-header' %></h3>
  <div class="scroll-box">
    <div class="d-flex">
      <% if @saved.any? %>
        <% @saved.each do |third_space_poro| %> 
          <div class="rounded-entry me-5">
              <h3 class="space-link">
                <%= link_to third_space_path(third_space_poro.yelp_id), class: "space-link" do %>
                  <%= third_space_poro.name %>
                <% end %>
              </h3>
            <p><strong>Category:</strong> <%= third_space_poro.category %></p> 
            <p><strong>Address:</strong> <%= third_space_poro.address %></p> 
            <p><strong>Rating:</strong> <%= third_space_poro.rating %></p>
            <form action="/third_spaces/unfavorite" method="delete">
              <button class="small-default-button me-2" name="yelp_id" value="<%= third_space_poro.yelp_id %>" type="submit">Remove Favorite</button>
            </form> 
          </div>
        <% end %> 
      <% else %> 
        You have nothing saved.
      <% end %>  
    </div>
  </div>
</div>
