<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <div class="mb-3">
      <%= link_to dashboard_path do %>
        <%= image_tag 'temp_logo.png', class: "img-fluid", alt: "Logo" %>
      <% end %>
    </div>
    <div class="mb-3">
      <%= link_to "I already have an account", "/login", class: "btn btn-primary" %>
    </div>

    <%= form_with(model: User.new, url: "/register", method: "post", local: true) do |f| %>

      <div class="mb-3 d-flex align-items-center">
        <%= f.label :first_name, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= f.text_field :first_name, class: "form-control", id: "first_name" %>
        </div>
      </div>

      <div class="mb-3 d-flex align-items-center">
        <%= f.label :last_name, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= f.text_field :last_name, class: "form-control", id: "last_name" %>
        </div>
      </div>

      <div class="mb-3 d-flex align-items-center">
        <%= f.label :email, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= f.email_field :email, class: "form-control", id: "email", aria_describedby: "input-email" %>
          <div id="emailHelp" class="form-text">We'll never share your information</div>
        </div>
      </div>

      <div class="mb-3 d-flex align-items-center">
        <%= f.label :password, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= f.password_field :password, class: "form-control", id: "password" %>
        </div>
      </div>

      <div class="mb-3 d-flex align-items-center">
        <%= f.label :password_confirmation, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-10">
          <%= f.password_field :password_confirmation, class: "form-control", id: "confirm_password" %>
        </div>
      </div>

      <div class="mb-3">
        <%= f.submit "create new account", class: "btn btn-primary" %>
      </div>

    <% end %>
  </div>
</div>
