<div data-controller="geolocation"></div>
<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <div class="mb-3">
    <%= link_to dashboard_path do %>
      <%= image_tag 'temp_logo.svg', class: "img-fluid", alt: "Logo" %>
    <% end %>
    </div>
    <div class="container text-center">
      <% if current_user.search_location.present? %>
        <h4>Your set location is <%= current_user.search_location.city %>, <%= current_user.search_location.state %></h4>
        <%= form_with url: search_locations_path, method: :post, local: true, html: { class: 'form-floating mb-3' } do |form| %>
          <div class="form-floating row">
            <div class="col-md-8 col-sm-12 mb-2">
              <%= form.text_field :city, id: "floatingInput", class: "form-control", placeholder: "Change location" %>
            </div>
            <div class="col-md-2 col-sm-6 mb-2"> 
              <%= form.select :state, User::STATE_ACRONYMS, { prompt: 'State' }, class: "form-control" %>
            </div>
            <div class="col-md-2 col-sm-6">
              <%= form.submit "Submit", class: "btn btn-primary w-100" %>
            </div>
          </div>
        <% end %>
      <% else %>
        <h3>Where would you like to search today?</h3><br>
        <%= form_with url: search_locations_path, method: :post, local: true, html: { class: 'form-floating mb-3' } do |form| %>
          <div class="form-floating row">
            <div class="col-md-8 col-sm-12 mb-2">
              <%= form.text_field :city, id: "floatingInput", class: "form-control", placeholder: "City" %>
            </div>
            <div class="col-md-2 col-sm-6 mb-2"> 
              <%= form.select :state, User::STATE_ACRONYMS, { prompt: 'State' }, class: "form-control" %>
            </div>
            <div class="col-md-2 col-sm-6">
              <%= form.submit "Submit", class: "btn btn-primary w-100" %>
            </div>
          </div>
          <h6>Allow ThirdSpace to access your location for the nearby search to work. Alternatively, search by city and state.</h6>
        <% end %>
      <% end %>
    </div>

    <%= form_tag search_locations_path, method: :post, class: "w-100" do %>
      <%= hidden_field_tag :mood, "Happy" %>
      <%= button_tag(type: 'submit', class: 'btn btn-primary w-100') do %>
        <%= image_tag 'current_location.svg', alt: "Location Arrow", style: "margin-right: 5px;" %> Use Current Location
      <% end %>
    <% end %>
    <br>
  </div>
</div>
