<div data-controller="geolocation"></div>
<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <div class="mb-3">
      <%= image_tag 'temp_logo.png', class: "img-fluid", alt: "Logo" %>
    </div>

    <h3>Welcome, <%= @user.first_name %>! What is your mood today?</h3>
    <nav class="navbar navbar-light bg-white">
  <form class="container-fluid d-flex justify-content-between">
    <button class="btn btn-outline-success me-2" type="button">Happy</button>
    <button class="btn btn-outline-success me-2" type="button">Studious</button>
    <button class="btn btn-outline-success me-2" type="button">Sad</button>
    <button class="btn btn-outline-success me-2" type="button">Social</button>
    <button class="btn btn-outline-success me-2" type="button">Party!</button>
    <button class="btn btn-outline-success me-2" type="button">Chill</button>
  </form>
</nav>



    <h3>Where would you like to search today?</h3><br>
    
    <%= form_with url: search_locations_path, method: :post, local: true do |form| %>
    <div class="mb-3 d-flex align-items-center">
      <div class="col-sm-2">
        <%= form.label :city, "city", class: "form-label" %>
      </div>
      <div class="col-sm-10">
        <%= form.text_field :city, class: "form-control" %>
      </div>
    </div>

    <div class="mb-3 d-flex align-items-center">
      <div class="col-sm-2">
        <%= form.label :state, "state", class: "form-label" %>
      </div>
      <div class="col-sm-10">
        <%= form.select :state, User::STATE_ACRONYMS, { prompt: 'Select a state' }, class: "form-control" %>
      </div>
    </div>

    <div class="mb-3">
      <%= form.submit "submit", class: "btn btn-primary" %>
    </div>
    <% end %>

  </div>
</div>
