<div class="container-sm d-flex justify-content-center align-items-center">
  <div class="text-center">
    <div class="mb-3">
      <%= image_tag 'temp_logo.png', class: "img-fluid", alt: "Logo" %>
    </div>
<body>
  <h1>Enter OTP</h1>
  <%= form_tag(validate_otp_path, method: :post, class: "mb-3") do %>
  <div class="form-group">
    <label for="otp">Enter the OTP:</label>
    <%= text_field_tag :otp, nil, class: "form-control", id: "otp" %>
    </div>
    <%= submit_tag 'submit', class: "btn btn-primary" %>
  <% end %>

  <% if flash[:alert] %>
  <div class="alert alert-danger" role="alert">
    <%= flash[:alert] %>

  </div>  
  <% end %>
</body>
</html>