    <button id="modal-btn" class="btn btn-secondary p-2">
        <span class="img-btn-wrapper">
          <%= image_tag 'filter.svg', alt: "Location", style: "margin-right: 5px;" %> Filter Old
        </span>
    </button>


<div id="my-modal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <span class="close">×</span>
          <%# <h2>advanced search.</h2> %>
        </div>
        <div class="modal-body">
          <%= form_tag("/third_spaces/search", method: "get") do %>

            <div class="form-group">
              <% features_options = {
                'Mood' => ['Happy', 'Sad', 'Studious', 'Social', 'Party', 'Chill'],
                'Staff Responsiveness' => ['Pushy', 'Helpful', 'Respectful'],
                'Volume' => ['Loud', 'Quiet', 'Average Noise'],
                'Lighting' => ['Bright', 'Moody', 'Average Lighting']
              } %>
              <% features_options.each do |feature, options| %>
                <h4><%= label_tag feature, "#{feature.downcase}." %></h4>
                <%= select_tag "tags[]", options_for_select(options), multiple: true, class: 'form-select' %><br>
              <% end %>
            </div>

            <h4>accessibility & amenities.</h4>
            <div class="form-group two-column-grid">
              <% labels_array = ['Accessible Entrance', 'BIPOC Friendly', 'Child Friendly', 'Customer Restrooms', 'Gender Neutral Restrooms', 'Parking', 'Purchase Necessary', 'Public Transportation Nearby', 'Queer Friendly', 'Sober'] %>
              <% labels_array.each do |label| %>
                <div class="checkbox-item">
                  <%= check_box_tag 'tags[]', label, false, class: 'form-check-input' %>
                  <%= label_tag label %>
                </div>
              <% end %>
            </div>
            <div class="container-fluid d-flex justify-content-center align-items-center pt-3">
              <%= submit_tag "Search", class: "btn btn-secondary p-2" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>