<h1>Contact Us</h1>
<%= form_with url: contact_path, local: true, html: { class: 'form-group' } do |form| %>
  <div class="mb-3">
    <%= form.label :subject, class: 'form-label' %>
    <%= form.text_field :subject, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, class: 'form-control', rows: 3 %>
  </div>

  <%= form.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
