<body>
    <div class="container-fluid d-flex justify-content-center align-items-center vh-100">
      <div class="text-center">
        <div class="mb-3">
          <%= image_tag 'temp_logo.png', class: "img-fluid", alt: "Logo" %>
        </div>
        <h3>Locations</h3>
        <table class="three-columns">
          <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>Category</th>
            </tr>
          </thead>
          <tbody>
            <% @location_results.each do |location| %>
              <div id ="location_result-<%= location.id %>">
                <tr>
                  <td><%= link_to "#{location.name}", location_path(location.id) %></td>
                  <td><%= location.address %></td>
                  <td><%= location.category %></td>
                </tr>
              </div>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
</body>
