<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <div class="mb-3">
    <%= link_to dashboard_path do %>
      <%= image_tag 'temp_logo.svg', class: "img-fluid", alt: "Logo" %>
    <% end %>
    </div>
    <h3>What is the name and city of this third space?</h3><br>
    
    <%= form_with url: locations_path, method: :get, local: true do |form| %>
      <div class="mb-3 d-flex align-items-center">
        <div class="col-sm-2">
          <%= form.label :name, "name", class: "form-label" %>
        </div>
        <div class="col-sm-10">
          <%= text_field_tag :name, params[:name], class: "form-control" %>
        </div>
      </div>

      <div class="mb-3 d-flex align-items-center">
        <div class="col-sm-2">
          <%= form.label :city, "city", class: "form-label" %>
        </div>
              <div class="col-sm-10">
          <%= text_field_tag :city, params[:city], class: "form-control" %>
        </div>
      </div>

      <div class="mb-3">
        <%= form.submit "submit", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>