<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <div class="mb-3">
    <%= link_to dashboard_path do %>
      <%= image_tag 'temp_logo.png', class: "img-fluid", alt: "Logo" %>
    <% end %>
    </div>
    <h3>What is the name and city of this third space?</h3><br>
    
    <%= form_with url: locations_path, method: :get, local: true do |form| %>
      <div class="form-floating mb-3">  
          <%= form.text_field :name, id: 'floatingInput', class: "form-control", placeholder: "name" %>
          <%= form.label :name, "name", for: 'floatingInput', class: "form-label" %>
      </div>

      <div class="form-floating mb-3">
          <%= form.text_field :city, id: 'floatingInput', class: "form-control", placeholder: "city" %>
          <%= form.label :city, "city", for: 'floatingInput', class: "form-label" %>
      </div>

      <div class="mb-3">
        <%= form.submit "submit", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>