<body>
<div class="container mt-5">
  <div class="row justify-content-center mt-4">
    <%= render partial: 'shared/navbar' %>

  <div class="container mt-5 text-center">
    <div class="mb-4">
      <h2><%= @location.name %></h2>
      <div class="rounded-highlight-b-ext">
        <%= @location.category %>
      </div>
    </div>

    <!-- Image Section -->
    <div class="container">
 <div class="row justify-content-center">
      <% if @location.photos.count > 0 %>
        <div class="col-md-5">
          <%= image_tag @location.photos[0], class: "img-fluid rounded main-image" %>
        </div>
        <% if @location.photos.count > 2 %>
          <div class="col-md-3 d-flex flex-column justify-content-between">
            <%= image_tag @location.photos[1], class: "img-fluid rounded small-image mb-2" %>
            <% if @location.photos.count > 2 %>
              <%= image_tag @location.photos[2], class: "img-fluid rounded small-image" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
        <br>
        <br>

        <div class="row justify-content-center my-3">
          <div class="col-md-auto">
            <div class="d-inline rounded-highlight-b">
              <%= image_tag 'purple_location.svg', alt: "Purple Location Icon", style: "margin-right: 5px;" %><%= @location.address %>
            </div>
          </div>

      <div class="col-md-auto">
        <div class="d-inline rounded-highlight-b">
          <% @location.rating.round(1).to_s.split('')[0].to_i.times do %>
            <%= image_tag 'full-star.svg', alt: "Full Star", style: "margin-right: 5px;" %>
          <% end %>
          <% if @location.rating.round(1).to_s.split('')[2].to_i >= 5 %>
            <%= image_tag 'half-star.svg', alt: "Half Star", style: "margin-right: 5px;" %>
          <% end %>
          <%= @location.rating.round(1) %>
        </div>
      </div>

      <% if !@location.price.nil? %>
        <div class="col-md-auto">
          <div class="d-inline rounded-highlight-b">
            <%= @location.price %>
          </div>
        </div>
      <% end %>
    </div>

          <a href="<%= new_third_space_path(location_json: @location_json) %>" class="rounded-button">Create a Third Space</a>
          <br><br>

<% @reviews.each do |r| %>
            <div class="justify-content-center rounded-highlight-custom text-center mb-3">
              <div class="d-inline">
              <% r.rating.round(1).to_s.split('')[0].to_i.times do %>
                <%= image_tag 'full-star.svg', alt: "Full Star", style: "margin-right: 5px;" %>
              <% end %>
              <% if r.rating.round(1).to_s.split('')[2].to_i >= 5 %>
                <%= image_tag 'half-star.svg', alt: "Half Star", style: "margin-right: 5px;" %>
              <% end %>
              <%= r.rating.to_f.round(1) %> / 5.0<br>
              <%= r.text %> <br> - <%= r.name %> <br> <b><%= r.date %></b>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</body>
