<body>
  <div class="container-fluid">
    <div class="logo-container">
      <%= link_to dashboard_path do %>
        <%= image_tag 'temp_logo.svg', class: "img-fluid smaller-logo", alt: "Logo" %>
      <% end %>
    </div>

    <div class="container text-center mt-5">
      <div class="text-center">
        <div class="d-inline-block text-left">
          <h2><%= @location.name %></h2>
          <div class="rounded-highlight-b">
            <%= @location.category %>
          </div>
          <div class="rounded-highlight-b">
              <%= "Address: #{@location.address}"%>
          </div>
        </div>
      </div>

      <br>
      <div class="text-center">
        <% @location.photos.each do |photo_url| %>
          <%= image_tag photo_url, width: "200" %>
        <% end %>

        <br>
        <br>

        <% if !@location.price.nil? %>
          <div class="rounded-container"><%= @location.price%></div>
        <% end %>
        <div class="rounded-container"><%= "Rating: #{@location.rating}"%></div>
          <a href="<%= new_third_space_path(location_json: @location_json) %>" class="rounded-button">Create a Third Space</a>
          <br><br>

          <% @reviews.each do |r| %>
            <div class="rounded-highlight">
              <%= r.text %> <br> - <%= r.name %> (Rating: <%= r.rating %>/5)
            </div>
            <br><br>
          <% end %>
      </div>
    </div>
  </div>
</body>
