<!DOCTYPE html>
<html>
  <head>
    <title>ThirdSpaceFe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
     
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
  <br>
   <%#= render partial: 'shared/navbar' %> 
        <%# <div id="flash-messages"> %>
      <%# <% flash.each do |type, message| %> 
        <%# <div class="alert <%= type %>
          <%# <%= message %> 
        <%# </div> %>
      <%# <% end %> 
    <%# </div> %>
    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
